* {
    box-sizing: border-box;
    margin: 0;
}
    
 .navbar {
  overflow: hidden;
  background-color: #004D00;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

.navbar a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

@font-face {
        font-family: font13;
        src: url('font/MSP.otf');
    }
    
@font-face {
        font-family: font1;
        src: url('font/axis.otf');
    }

@font-face {
    font-family: font4;
    src: url('font/COBIT.otf');
}

a.ex2:hover, 
    a.ex2:active {font-size: 120%;}
    
a.ex1:hover, 
    a.ex2.ex1:active {color: gold;}

    
.crop {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.crop img {
    margin: -420px 0 0 -100px;
}

.head {
    margin: auto;
    padding: 10px;
	background-color: #004D00;
	height: 4.9%;
	font-family: 'font4';
	font-size: 20px;
  display: block;
  text-align: left;
  color: #f2f2f2;
}
    
.foot {
    margin: auto;
    padding: 10px;
	background-color: #111;
	height: 4.9%;
	font-family: 'font1';
	font-size: 15px;
  display: block;
  text-align: left;
  color: #f2f2f2;
}


.bg {
    width: 93%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 70px;
}
    
.card {
     background-color: #fff;
     padding: 10px;
     margin-top: 20px;
     color: black;
}
    
.leftcolumn {   
    float: left;
    width: 75%;
}

.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
}
